<div class="wrapper">
  <div>
    <h1 class="rick-title" style="font-family: 'rick';">personajes de rick and morty</h1>
  </div>
  <div class="gallery">
    <div class="row">
      <mat-grid-list cols="4" rowHeight="500px" gutterSize="5px">
        <mat-grid-tile *ngFor="let character of characters"
          class="colspan-4 rowspan-3">
          <mat-card class="example-card characters-card" [ngClass]="character.status === 'Alive' ? 'alive' : character.status === 'Dead' ? 'dead' : 'unknown'">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title [ngClass]="character.status === 'Alive' ? 'alive' : character.status === 'Dead' ? 'dead' : 'unknown'">{{ character.name }}</mat-card-title>
              <mat-card-subtitle [ngClass]="character.status === 'Alive' ? 'alive' : character.status === 'Dead' ? 'dead' : 'unknown'">{{ character.gender }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-image" src="{{ character.image }}" alt="{{ character.name }}">
            <mat-card-content>
              <button class="info-button" (click)="showDetails(character)">
                Más Info
              </button>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="row center">
      <div class="colspan-4">
        <button button mat-raised-button class="button-more" (click)="loadMore()">
          Cargar más personajes...
        </button>
      </div>
    </div>
  </div>
</div>